<meta charset=utf-8 />
<title>Ramen Hunter</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>
			<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css' rel='stylesheet' />
				<style>
				  body { margin:0; padding:0; }
				  #map { height: 600px; width:100%; }
				</style>
			</head>
		<body>
