#form-wrapper {
	width: 100%;
	margin: 10em 0;
}
.search-form {
	
	position: absolute; left: 15em;
	z-index: 2;
	margin: auto;
	width: 50%;
}

/*#center-form {
	margin: auto;
	width: 50%;
}*/

#search_by_loc {
	top: 120px;
}

* {
	text-align: center
}
#map {
	position: absolute; top: 4em; 
 	z-index: 1;
	width:100%;
		margin: auto;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

* {
	text-align: center
}